
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

/* ...................title section.................. */
#title{
  background-color: #FF4C68;
  text-align: left;
}

.container-fluid{
  padding: 3% 15% 10% 15%;
}

/* navigation bar section */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* download button */
.download-btn{
  margin: 5% 3% 0 0;
}

.title-heading{
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
/* we have used position attribute at three places i.e. in (title-image, dog-image, features) just to hide some part of iphone behind the features section */
.title-image{
  position: relative;
}

/* title image */
.dog-image{
  width: 60%;
  margin-left: 15%;
  transform: rotate(25deg);
  position: absolute;
}

/* .......................features section....................... */
#features{
  padding: 7% 10%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.features-div{
  padding: 3% 5%;
}

.features-heading{
  font-size: 1.5rem;
}

.features-icon{
  color: #EF8172;
  margin-bottom: 5%;
}

.features-icon:hover{
  color: #FF4C68;
}

.features-para{
  color: #8F8F8F;
}

/* .........................testimonial-section....................... */
#testimonials{
  color: white;
  background-color: #EF8172;
}

.testimonial-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 5% 7%;
}

.carousel-item{
  padding: 7% 15% 5% 15%;
}

/* .....................press-section........................ */
#press{
  background-color: #EF8172;
  padding-bottom: 3%;
}

/* if we want to reduce the size of logo or image then mostly we reduce the width of that image */
.press-logo{
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* ....................pricing section.................... */
#pricing{
  padding: 7% 10%;
}

.pricing-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.dog-name{
  font-size: 1.5rem;
}

.card-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
}

/*.................... call to action section.................. */
#cta{
  background-color: #FF4C68;
  padding: 7% 15%;
}

.cta-heading{
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

/* .........................footer section .....................*/
#footer{
  background-color: white;
  padding: 7% 15% 4% 15%;
}

.footer-icon{
  margin: 0 2%;
}

.footer-para{
  margin-top: 3%;
  color: #8F8F8F;
  font-weight: 500;
}

/*.................... media query....................... */
@media (max-width: 992px){
  #title{
    text-align: center;
    padding: 0 5%;
  }
  .dog-image{
    position: static;
    transform: rotate(0deg);
    margin-left: 0;
    margin-top: 5%;
  }
}
